[Unit]
Description=Fan controller
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /root/scripts/fan.py

[Install]
WantedBy=multi-user.target
